:root {
  --app-loading-bg: rgba(255, 255, 255, 1);
  --app-loading-text: #4e5a70;
  --app-aside-bg: #f9fafb;
  --app-main-bg: #ffffff;

  --app-text-size: 14px;
  --app-tool-text-size: 1.2em;
  --app-tool-text-color: rgba(7, 17, 37, 1);
}